*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


main {
  padding: 20px;
  width: 70vh;
  height: 50vh;
  border: 1px solid black;
}

main>h1 {
  text-align: center;
  margin-bottom: 1rem;
}



label,
input,
main>p,
#calc {
  display: block;
  margin-bottom: 10px;
  outline: none;
}

input {
  width: 100%;
  border: 1px solid rgba(200, 200, 200, 0.9);
  line-height: 24px;
  border-radius: 4px;
}


#calc {
  color: white;
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  border-radius: 0.2rem;
  background-color: #4CB050;
}